@import '../../../styles/mixins/global.scss';

.wir-section-content-alignment {
    background-image: url("../../../assets/images/wir-banner.svg");
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    width: 100%;
    padding: 64px 0 52px 0;

    @include breakpoint("max-md") {
        padding: 70px 0;
    }

    @include breakpoint("max-sm") {
        background-image: url("../../../assets/images/mobile-wir.png");
        padding: 290px 0 0 0;
        height: 572px;
    }

    .container-md-8 {
        @include breakpoint("max-sm") {
            padding: 0;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 566px;
        gap: 67px;

        @include breakpoint("max-md") {
            grid-template-columns: 230px 1fr;
            gap: 30px;
        }

        @include breakpoint("max-sm") {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .grid-items:last-child {
            @include breakpoint("max-sm") {
                padding: 0 30px;
            }
        }

        .grid-items:nth-child(1) {
            @include breakpoint("max-sm") {
                display: none;
            }
        }

        .grid-items {
            .button-right-alignment {
                display: flex;
                align-items: center;
                padding: 10px 0 0 0;
                justify-content: flex-start;

                @include breakpoint("max-md") {
                    justify-content: flex-start;
                }

                button {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                    background: #E0D1AD;
                    padding: 22px 37px;
                    border: none;
                    cursor: pointer;

                    @include breakpoint("max-md") {
                        padding: 15px 20px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                    }

                    @include breakpoint("max-sm") {
                        padding: 9px 19px;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .faq-image-style {
                @include breakpoint("max-sm") {}

                img:first-child {
                    @include breakpoint("max-sm") {
                        display: none;
                    }
                }

                img:last-child {
                    display: none;

                    @include breakpoint("max-sm") {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                        height: 190px;
                    }
                }

                img {
                    width: 100%;
                    height: 228px;
                    object-fit: cover;

                    @include breakpoint("max-sm") {
                        height: 131px;
                        object-fit: contain;

                    }
                }
            }

            .top-align {
                margin-top: 20px;
            }

            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                margin: 0 0 10px 0;
                line-height: 22px;
                color: #E0D1AD;

                @include breakpoint("max-sm") {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 22px;
                }
            }

            p {
                font-weight: 600;
                font-size: 16px;
                color: #2E2E2E;
                margin: 0 0 20px 0;
                line-height: 22px;


                @include breakpoint("max-md") {
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 22px;
                }

                @include breakpoint("max-sm") {
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 14px;
                }
            }

            h3 {
                font-weight: 600;
                font-size: 36px;
                margin: 0 0 10px 0;
                color: #2E2E2E;
                line-height: 60px;

                @include breakpoint("max-md") {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 60px;
                }

                @include breakpoint("max-sm") {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }
    }
}